Ok. So there are a few rules.

1. This is not a cheat sheet... DO NOT COPY AND PASTE if you are part of the course or bootcamp.
   This is solely for evaluations and group projects.
2. You are not allowed to edit other peoples codes, you my only add a .txt file, for
   evaluation purposes.
3. You may not delete other branches, only your own.


Failing to follow these rules, will result in being removed from this group
